main {
    width: 100%;
    display: flex;
}

main.conteudo {
    z-index:1;
    width: 100%;
    height: max-content;
    min-height: 600px;
    background-image: url(/files/images/homeBackGroundSemPassaroPrata.png);
    background-size: cover;
    background-position: 0% 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#le-pagina {
    padding-bottom: 1rem;
}

@media(max-width:940px){
}
@media(max-width:800px){
}
@media(max-width:664px){
}