.engloba-links-dados {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    width: 70%;
}

div.topic-home {
    align-items: center;
    justify-content:center;
}

h2#paulo-title {
    align-self: center;
    padding: 0.4rem 0.7rem;
    font-size: 1.6rem;
}

@media(max-width:1020px) {
    .aluno-p{
        width: 80%;
    }
    .engloba-links-dados {
        flex-direction:column;
    }
}

@media(max-width:960px) {
    .engloba-links-dados {
        flex-direction:column;
    }
}

@media(max-width:760px) {
    #dados-resumo {
        padding: 1rem !important;
    }
}
